<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/basic.css" />
    <include path="~/Content/style.css" />
  </styleBundle>
  <styleBundle path="~/Content/home">
    <include path="~/Content/home.css" />
  </styleBundle>  
</bundles>